[Unit]
Description=Rackspace Monitoring Agent Id Creation

[Service]
After=rackspace-monitoring-agent-token.service
Requires=rackspace-monitoring-agent-token.service
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "echo monitoring_id `cat /media/configdrive/openstack/latest/meta_data.json | awk -F'uuid' '{print $2}' | awk -F\\\" '{print $3}'` >> /opt/rackspace-monitoring-agent/rackspace-monitoring-agent.cfg"